---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-4">
				<div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermalink()}>xNet</a>
				</div>
				<div class="text-sm text-gray-500">
					Open source tools for digital nomads independence.
				</div>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Portable</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Code Editors</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Note-Taking</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Project Management</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Graphics & Design</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Communication </a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>File Sync & Backup</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>System Tools</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Platform</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Applications</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Local Server</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Local AI</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Secure Tunneling</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Multimedia</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Privacy & Security</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Resources</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Guides & Tutorials</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Documentation</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Open Source</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Community</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							>Project Status</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">xNet</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="/about"
							>About</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="/faq"
							>FAQ</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="/blog"
							>Blog</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="/terms"
							>Terms</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="/privacy-policy"
							>Privacy Policy</a
						>
					</li>
				</ul>
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Twitter"
						href="#"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Instagram"
						href="#"
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Facebook"
						href="#"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/gigamaster/xnet"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				<span
					class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(/favicon.svg)]"
				>
				</span>
				© 2026 <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://github.com/gigamaster/xnet"> UI xNet</a> ·
				Codemo Digital Nomad — Made with care, not cookies.
			</div>
		</div>
	</div>
</footer>
