---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="bg-gradient-to-b from-black to-zinc-900">
	<div class="max-w-6xl h-[calc(100vh_-_100px)] mx-auto px-4 sm:px-6 bg-[url(~/assets/images/x-net-tools.jpg)] bg-bottom bg-center bg-no-repeat">
		<div class="pt-4 pb-28l">
			<div class="text-center pb-24 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-zinc-200">Tools</span>
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-zinc-200 to-amber-600 sm:whitespace-nowrap"
						>for digital independence</span
					>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-zinc-600 mb-24 dark:text-zinc-300">
						Run web apps from your laptop, host your own server safely from anywhere, and use lightweight AI models offline. 
						All open source. No cloud lock-in.
					</p>
					<div class="max-w-none px-6 py-16 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-zinc-500 bg-zinc-800 hover:bg-amber-800/70 hover:border-amber-300 shadow-xl sm:mb-0 w-full"
								href="#overview"
							>
								Explore the Ecosystem
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
